/* You can add global styles to this file, and also import other style files */
.html,
body {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

.mg-l-4 {
  margin-left: 4px;
}

.mg-l-20 {
  margin-left: 20px;
}

.mg-r-4 {
  margin-right: 4px;
}

.mg-r-20 {
  margin-right: 20px;
}

.mg-r-10 {
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #6fbf72;
}
